* {
    box-sizing: border-box;
}
body {
    margin: 0;
    max-width: 1024px;
}
ul {
    list-style: none;
    padding-left:0;
}
a { 
    text-decoration: none;
}
nav {
    font-family: 'Cinzel', serif;
    font-weight: 500;
    letter-spacing: .05em;
    
    padding: 25px;
}
#title {
    font-family: 'Cinzel', serif;
    font-weight: 700;
}
h1, .top-nav {
    text-align: center;
}
.top-nav, .top-nav li {
    width: 100%;
}
h1 a, .top-nav a {
    color: #000;
  }
.top-nav {
    margin-top: 30px;
}
.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: white;
}
nav, #intro {
    background: #F5F5F5;
}
#intro {
    text-align: center;
}
#intro img {
    width: 65%;
    margin-top: 10px;
}
#intro p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
    padding-bottom: 30px;
    color:dimgrey;

}

/* ===============
    Media Queries
    ============*/

    @media (min-width:768px) {
        .top-nav {
        margin-top: 0;
        }
        .top-nav li {
            display:inline-block;
            width: auto;
            margin-right:15px;
            background-color:transparent;
        }
        .top-nav li:last-child {
            margin-right: 0;
        }
    
        .top-nav a {
            color: black;
        }
        #intro {
            display: flex;
            text-align: left;
        }
    
        #intro img {
            width: 45%;
            order:2;
            margin-right: 25px;
            margin-bottom: 60px;
        }
        #intro p {
            padding: 20px;
            padding-top:0;
            margin: 14px;
            font-size: 1.2rem;
            align-self: flex-start;
            /* border: 2px solid rebeccapurple;*/
        }
    }

    @media (min-width:1024px) {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .top-nav,
        .top-nav li {
            width:initial;
            margin-bottom: 0;
        }
        #intro {
            display: flex;
            font-size: 1.2rem;
            text-align: left;
        }
    
    }